body {
    background: rgb(46, 44, 44);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background: rosybrown;
    Background-Attachment: Fixed;
    /* background-Image: URL('../Pictures/Daenerys getting raped.jpg'); */
    Background-Repeat: No-Repeat;
    Background-Size: 100% 100%;
    font-size: large;
}

header {
    background: black;
    padding: 20px;
}
section {
    background: white;
    color: grey;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: purple;
}

section.middle-tripple {
    background: rgb(104, 25, 25);
    color: rgb(65, 28, 28);
    padding: 20px;
    display: flex;
    flex-direction: row;
}
div {
    background: blue;
    margin: auto;
    width: 100px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display: inline-block;
    margin: 50px;
}
footer {
    background: black;
}
header .logo a {
    background-image: url("../PC-Formatting (Windows 10)/Pictures/IMG_8850.JPG");
    background-size: 200px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 80px;
    text-indent: -99999px;
    width: 300px;
}